.Logo {
  height: 50px;
  width: 150px;
  background: url("../../assets/Cat-N-Dog-Logo\ copy@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
