.Contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 400px;
  background-color: #fcebe5;
  border: none;
  box-shadow: 24px;
  padding: 4px;
  border-radius: 10px;
  &__Close {
    width: 20px;
    margin-left: 93%;
    margin-top: 1rem;
    svg {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }
  &__Heading {
    color: #495057;
    font-size: 42px;
    margin-left: 3rem;
    font-weight: 500;
  }
  &__Para {
    color: #adb5bd;
    font-size: 12px;
    margin-left: 3rem;
  }
  &__InputDiv {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &__Input {
      height: 45px;
      width: 420px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f8f9fa;
      border-radius: 30px;
      padding-left: 2rem;
      &__Label {
        font-size: 12px;
        color: #495057;
      }
      &__Field {
        margin-right: 5rem;
        border: none;
        font-size: 12px;
        color: #adb5bd;
        background-color: inherit;
        width: 15rem;
        height: 100%;
      }
    }
  }
  &__Submit {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    color: #ffffff;
    background-color: #000000;
    margin: 1rem 3rem 1rem auto;
    font-size: 12px;
  }
  &__Footer {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 2rem;
    &__Buttons {
      display: flex;
      align-items: baseline;
      gap: 1rem;
      margin-left: auto;
      &__Facebook {
        height: 12px;
        width: 12px;
        background: url("../../assets/FB-icon-black@2x.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &__LinkedIn {
        height: 12px;
        width: 12px;
        background: url("../../assets/linkedin-icon-black@2x.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &__Twitter {
        height: 12px;
        width: 12px;
        background: url("../../assets/Twitter-icon-black@2x.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
